*.class
*~

# Package Files #
*.jar
*.war
*.ear

#NetBeans specific#
nbproject/private/
bin/
build/
nbbuild/
dist/
nbdist/
store/

# Logs and databases #
*.log
*.sql
*.sqlite

#NetBeans custom#
/DeveloperViewer/dist/
/DeveloperViewer/bin/
/DeveloperViewer/data/
/DeveloperViewer/store/
/DeveloperViewer/nbproject/private/
/HostViewer/store/
/HostViewer/user_jars/
/Kernel/nbproject/private/
/SuperServer4/nbproject/private/
/SuperServer4/store/
/TesteNoGUI/store/
/TesteNoGUI/nbproject/private/

#Project specific#
saida.txt
exception.txt
*.csv
