*.class

# Package Files #
*.jar
*.war
*.ear
/DeveloperViewer/dist/

#NetBeans specific#
nbproject/private/
bin/
build/
nbbuild/
dist/
nbdist/

# Logs and databases #
######################
*.log
*.sql
*.sqlite

